.row-section{
    display: flex;
    flex-wrap: wrap;
}
.video-section{
    flex: 70%;
   
}
.comment-section{
    flex: 30%;
    border-left: 0.6px solid #C4C4C4;
    transform: rotate(0.06deg);    
}
.live-vid{
    padding: 28.51px 20px;
}
.main-vid{
    padding-top: 28.51px;
   position: relative;
}
.video-player{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.main-vid-img{
    width: 100%;
}
.video-player{
    padding: 13px 33px;
    background: #333D52;
}
.video-player .line{
 border: 2px solid #C4C4C4;   
}
.play{
    padding-top: 17px !important;
}
.live-vid-title{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #3E3E3E;
    
}
.video-details{
    padding-top: 22px;
}
@media screen and (max-width: 992px){
    .row-section{
        flex-direction: column;
    }
    .video-section{
        width: 100%;
    }
    .comment-section{
        width: 100%;
    }
    .live-vid{
        padding: 28px 0px;
    }
}